=  simple_form_for(@user) do |f|
  .form-inputs{ 'data-controller': 'users' }
    = f.input :email, disabled: !current_user.administrador?
    = f.input :rol, collection: roles_seleccionables(), disabled: !current_user.administrador?, include_blank: false, input_html: { 'data-action': 'users#mostrarSucursales', 'data-users-target': 'rol' }

    %div{ 'data-users-target': 'sucursal', hidden: true }
      - case current_user.rol
        - when 'administrador'
          = f.association :sucursal, collection: sucursales_seleccionables(), include_blank: false

        - when 'personal_bancario'
          = f.association :sucursal, collection: sucursales_seleccionables(), disabled: true

    = f.input :password, input_html: { autocomplete: "new-password" }, hint: "Dejar en blanco si no se quiere cambiarlo"
    = f.input :password_confirmation, input_html: { autocomplete: "new-password" }

  .form-actions.my-3
    = f.button :submit, 'Guardar', class: 'btn btn-primary'
    = link_to('Cancelar', sucursales_path, class: 'btn btn-light')