%h2 Iniciar sesión

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email,                       |
      required: false,                      |
      autofocus: true,                      |
      input_html: { autocomplete: "email", class: "my-3" }

    = f.input :password,                               |
      required: false,                                 |
      input_html: { autocomplete: "current-password", class: "my-3" }

  .form-actions.my-3
    = f.button :submit, 'Iniciar sesión', class: 'btn btn-primary'

= render 'devise/shared/links'
