.row
  .col-md-4
    %h1 Sucursal

  .col-md-2.offset-md-6
    - if policy(@sucursal).edit?
      = link_to('Editar sucursal', [:edit, @sucursal], class: 'btn btn-success')

    - if policy(Turno).new?
      = link_to('Solicitar turno', [:new, @sucursal, :turno], class: 'btn btn-primary')

%h3.my-3 Nombre
= @sucursal.nombre

%h3.my-3 Dirección
= @sucursal.direccion

%h3.my-3 Teléfono
= @sucursal.telefono

%h3.my-3 Horarios
%table.table.table-striped
  %thead
    %tr
      %th Habilitado?
      %th Dia
      %th Hora inicial
      %th Hora final
      %th

  %tbody
    - for horario in @sucursal.horarios
      %tr
        %td= horario.habilitado ? 'Si' : 'No'
        %td= horario.dia
        %td= horario.hora_inicial
        %td= horario.hora_final

        - if policy(horario).edit?
          %td= link_to('Editar', [:edit, @sucursal, horario], class: 'btn btn-primary')