%h1= "Atender turno para sucursal '#{@sucursal.nombre}'"

%h3.my-3 Dirección
= @sucursal.direccion

%h3.my-3 Teléfono
= @sucursal.telefono

%h3.my-3 Horarios
%table.table.table-striped
  %thead
    %tr
      %th Dia
      %th Hora inicial
      %th Hora final

  %tbody
    - for horario in @sucursal.horarios.habilitados
      %tr
        %td= horario.dia.capitalize
        %td= horario.hora_inicial
        %td= horario.hora_final

%h3.my-3 Turno

= simple_form_for(@turno, url: [@sucursal, @turno], method: :put) do |f|
  .form-inputs
    = f.input :respuesta, required: true

  .form-actions.my-3
    = f.button :submit, 'Guardar', class: 'btn btn-primary'
    = link_to('Cancelar', sucursales_path, class: 'btn btn-light')