%h1= "Solicitar turno para sucursal '#{@sucursal.nombre}'"

%h3.my-3 Dirección
= @sucursal.direccion

%h3.my-3 Teléfono
= @sucursal.telefono

%h3.my-3 Horarios
- if @sucursal.horarios.habilitados.any?
  %table.table.table-striped
    %thead
      %tr
        %th Dia
        %th Hora inicial
        %th Hora final

    %tbody
      - for horario in @sucursal.horarios.habilitados
        %tr
          %td= horario.dia.capitalize
          %td= horario.hora_inicial
          %td= horario.hora_final

  %h3.my-3 Turno

  = simple_form_for(@turno, url: [@sucursal, @turno], method: :post) do |f|
    .form-inputs
      =# f.input :horario, html5: true, input_html: { min: "12:00:00", max: "15:00:00", step: "10800" }
      = f.input :horario, html5: true

      = f.input :motivo, required: true, input_html: { cols: 5, rows: 10 }

    .form-actions.my-3
      = f.button :submit, 'Guardar', class: 'btn btn-primary'
      = link_to('Cancelar', sucursales_path, class: 'btn btn-light')

- else
  %div.card
    %div.card-body
      %p.card-text No se puede reservar un turno debido a que la sucursal no cuenta con horarios habilitados.